doctype html
html
    head
        title node
        link(rel='stylesheet' href='/css/main.css' type='text/css')
    body
        form(action='/sign' method='post')
            input.account(name='account')
            input.password(name='password')
            button(type='sumbit')
